#banner,
#banner iframe{
    width: 100%;
    height: calc(80vh - 56px);
    background-image: url('./3c6db16ccd436bddb3d391fa69ead123.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner {
    .banner-text{
    color: white;
    text-align: center;
    width: 50%;
    
        h2{
            font-size: 3rem;
            font-weight: 400;
            
            span{
                color: white !important;
            }
        }
        p{
            font-size: 1.3rem;
        }
        
    }
}